extends layout

block content
  h1.red This is my tiny URL shortener
    span(role='img' aria-label='app pencil')  ⚡️
  form
    label Just type in the IRL you wish to shorten below
    input(placeholder='Type a URL' type='text')/
    button(type='submit') Get short URL
    div.is-hidden.url-result hello testing
