doctype html
html
  head
    title= title
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    link(href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet")
    <% } %>
  body
    block content
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    script(src="<%= htmlWebpackPlugin.files.js[js] %>")
    <% } %>
